@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --footer-bg: #000;
    --color: #f2f3fb;
    --color-smooth: #9da2ae;
    --input-border: #3a456a;
    --btn-bg-color: #f1f2fc;
    --btn-hover-bg: #d5d9f6;
    --btn-color: #1e2641;
  }

  * {
    box-sizing: content-box!important;
}
  
  footer {
    font-size: 16px!important;
    background: var(--footer-bg);
    padding: 2em 4em!important;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    font-family: "Poppins", sans-serif;
  }
  
  footer ul {
    list-style: none;
  }
  
  .col {
    flex: 1!important;
  }
  
  .col-title {
    font-family: "Poppins", serif;
    color: var(--color);
    font-size: 1.1em!important; 
    font-weight: 500!important;
    padding: 0.5em 0!important;
  }
  
  .col-list a {
    color: var(--color-smooth);
    text-decoration: none;
    line-height: 1.4!important;
    font-weight: 400!important;
  }
  
  .col-list a:hover,
  .col-list a:focus {
    text-decoration: underline;
  }
  
  .subscribe-form,
  .social-media {
    display: flex;
    gap: 0.5em!important;
    padding: 0.5em 0!important;
  }
  
  .subscribe-input {
    width: auto;
    flex: 1;
    background: transparent;
    border: 0.06em solid var(--input-border);
    font-size: 1em!important;
    font-weight: 500!important;
    padding: 0.5em!important;
    border-radius: 0.3em!important;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--color-smooth);
  }
  
  .subscribe-input:focus {
    outline: none;
    border-color: var(--color);
    color: var(--color);
  }
  
  .subscribe-btn {
    background: var(--btn-bg-color);
    border: none;
    font-size: 1em!important;
    font-weight: 600!important;
    padding: 0.5em!important;
    border-radius: 0.3em!important;
    transition: all 0.25s ease 0s!important;
    display: inline-block;
    color: var(--btn-color);
    cursor: pointer;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .form-title,
  .social-col-title {
    font-size: 1em!important;
    color: var(--color);
    font-weight: 500!important;
  }
  
  .social-media {
    flex-direction: column;
  }
  
  .social-media-list {
    display: flex;
    gap: 0.5rem!important;
  }
  
  .social-media-list a {
    padding: 0.5em!important;
    color: var(--color-smooth);
    display: flex;
    border-radius: 0.3em!important;
    transition: all 0.25s ease 0s;
  }
  
  .social-media-list a:hover,
  .social-media-list a:focus {
    color: var(--color);
    background: #ffffff1a;
  }
  
  .social-media-list svg {
    width: 1.5em!important;
    height: 1.5em!important;
    transition: all 0.25s ease 0s;
  }
  
  @media screen and (max-width: 750px) {
    footer {
      padding: 2em!important;
    }
  }
  